@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
    background-color: #16213E;
    color: white;
    font-family: 'VT323', monospace;
    width: auto;
    background-image: url(./R\ \(4\).jpg);
    background-size: 100%;

}

.center-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

h2 {
    text-align: center;
    color: #003865;
    background-color: #D4F6CC;
    padding: 10px;
    border-radius: 75px;
}

.add-bigger-title {
    font-size: 70px;
}

img {
    width: 100px;
}

.control-of-cards {
    display: flex;
    gap: 100px;
}

.pets-cards {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    background-color: #3CCF4E;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
}

#boton-mascota {
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
    display: flex;
    margin-top: 60px;
    background: #D4F6CC;
    color: black;
    font-family: 'VT323', monospace;
    border: transparent;
    border-radius: 20px;
}

#hipodoge {
    display: none;
}

#capipepo {
    display: none;
}

#ratigueya {
    display: none;
}

input:checked+label {
    background-color: #EF5B0C;
}


#botonAtaqueTierra {
    box-sizing: border-box;
    padding: 10px;
    background-color: #D4F6CC;
    border-radius: 20px;
    border: transparent;
   
}

#botonAtaqueAgua {
    box-sizing: border-box;
    padding: 10px;
    background-color: #D4F6CC;
    border-radius: 20px;
    border: transparent;
   
}

#botonAtaqueFuego {
    box-sizing: border-box;
    padding: 10px;
    background-color: #D4F6CC;
    border-radius: 20px;
    border: transparent;
   
}

.flex-buttoms{
    display: flex;
    justify-content: space-between;
}

.ataques{
    background: rgb(0 0 0 / 16%);
    backdrop-filter: blur(15px);
    height: 38%;
    width: 25%;
    z-index: 1;
    padding: 18px;
    border-radius: 50%;
}